h1 {
    color: blue;
    text-align: center;
}
h3 {
    color: yellow;
    margin-right: 200px; /* Manually set the space */
}
body {
    background-color: black;
    margin-right: 2000px; /* Manually set the space */
}
